body{
    background: #f9f9f9;
}
.main{
    width:800px;
    margin: 0 auto;
    background: #fff;
}
.nav{
    text-align: center;
    padding: 20px 0;
}
.nav a{
    padding: 12px 48px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
}

.nav .oB{background-color: #1d9fd3}

.nav a:nth-child(1){
    border-right:0;
    border-radius: 5px 0 0 5px;
}
.nav a:nth-child(2){
    border-radius: 0;
    z-index: 5;
}
.nav a:nth-child(3){
    border-left:0;
    border-radius: 0px 5px 5px 0px;
}
.email{
  width:700px;
  margin: 0 auto;
}
.star{
    font-size: 18px;
    color: #c60101;
    vertical-align: middle;
    padding-right:5px;
}
.email .text{
    display: block;
    float: left; 
    width:15%;
    padding-right: 20px;      
    line-height: 30px;
    text-align: right;
}
.select-bot{
    float: right;
    width:15%;
    line-height: 30px;
}
.input-item{
    float: left;
    width:65%;
}
.email input{
    display: block;  
    width:95%; 
    height:30px;
    font-size: 12px;
    padding-left:5%;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 5px;
}
.prompt{    
    padding-top:10px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #888;
}
.prompt2{
    display: none;
}
.bot{
   margin-bottom: 20px;
}
.bot a{
    padding: 10px 48px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    background:#e1e1e1;
    color:#555;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-yanzheng{
  float: left;
  width:50%;
}
.input-one{
    width:100%;
}
.input-img{
    float: right;
    width:40%;
    line-height: 40px;
    margin: -15px 0 0 0;
    text-align: center;
}
.input-img img{
    display: block;
    width:100%;
    height: 60px;
}
.input-img a{
    font-size: 14px;
}
.ido{
    width:65%;
    margin: 0 auto;
    padding-left: 70px;
}
.ido input{
    vertical-align: top;
}
.ido .ido-text{
    vertical-align: top;
}
.end{
    width: 20%;
    margin: 0 auto;
    padding: 30px 0 60px 0;
}
.end a{
    padding: 10px 48px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    background:#058e02;
    color:#fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}





